 # PAO25_25_02_Python_Datatype
 January 8, 2026

![ITQ](img/ITQ.png)

## 0.1 Tercer Modulo - Python, Data Types

![python](img/python.png)

Martin Rodriguez

## 1 Comentarios

### 1.0.1 ¿Qué son?
Texto contenido en ficheros Python que es ignorado por el intérprete; es decir, no es ejecutado.

### 1.0.2 ¿Cuál es su utilidad?
* Se puede utilizar para dpcumentar código y hacerlo más legible.
* Preferiblemente, trataremos de hacer código fácil de entender y que necesite pocos cometrios, en lugar de vernos forzados a recurrir a los comentarios para explicar todo el código.

### 1.0.3 Tipos de comentarios
### Comentarios de una línea
* Texto precedido por '#'
* Se suele usar para documentar expresiones sencillas.

In [2]:
# Esto es una instrucción print 
print ('Hello World')  # Esto es ima instrucción print

Hello World

### Comentarios de varias líneas
* Texto encapsulado en triples comillas (que pueden ser tanto comillas simples como dobles).
* Se suele usar para documentar bloques de código más significativos.

In [4]:
def productos (x, y):
    '''
    Esta función recibe dos números como parámetros y devuelve
    como resultado el producto de los mismos 
    '''
    return x * y

## 2 Literales, variables y tipos de datos básicos
De forma muy genérica, al ejecutarse un programa Python, simplemente se realizan operaciones sobre objetos. <br>
Estos dos términos son fundamentales.
* Objetos: cualquier tipo de datos (números, caracteres o datos más complejos).
* Operaciones: cómo manipulamos estos datos.<br>

Ejemplo:

In [5]:
4 + 3

7

### 2.1 Literales
* Python tiene una serie de tipos de datos integrados en el propio lenguaje.
* Los literales son expresiones que generan objetos de estos tipos.
* Estos objetos, según su tipo, pueden ser:
    - Simples o compuestos.
    - Mutables o inmutables.
    
 **Literales simples**
* Enteros 
* Decimales o punto flotante
* Booleano

print(4)                        # número entero
print(4, 2)                     # numero en coma flotante
print('Hello World¡')           # string
print(False)

**Literales Compuestos**
* Tuplas
* Listas 
* Dicccionarios
* Conjuntos

In [7]:
print([1, 2, 3, 3]) # lista- mutable 
print({'Nombre' : 'John Doe', "edad": 30}) # Diccionario- mutable 
print({1, 2, 3, 3}) # Conjunto mutable
print((4, 5)) # Tupla inmutable
2, 4 # tupla

[1, 2, 3, 3]
{'Nombre': 'John Doe', 'edad': 30}
{1, 2, 3}
(4, 5)

(2, 4)

### 2.2 Variables 
* Referencias a objetos.
* Las variables y los objetos se almacenan en diferentes zonas de memoria. 
* Las variables siempre referencian a objetos y nunca a otras variables. 
* Objetos sí que pueden referenciar a otros objetos. Ejemplo: listas. 
* Sentencia de asignación:<br>

nombre_variable '=' objeto

In [8]:
# # Asignación de variables
a = 5
print (a)

5

In [9]:
a = 1                         #entero
b = 4.0                       #coma flotante
c = "ITQ"                     #string
d = 10 + 1j                   #número complejo
e = True #False               #boolean
f = None                      #None

#Visualizar valor de las variables y su tipo
print(a)
print(type(a))

print(b)
print(type(b))

print(c)
print(type(c))

print(d)
print(type(d))

print(e)
print(type(e))

print(f)
print(type(f))

1
<class 'int'>
4.0
<class 'float'>
ITQ
<class 'str'>
(10+1j)
<class 'complex'>
True
<class 'bool'>
None
<class 'NoneType'>

* Las variables no tienen tipo. 
* Las variables apuntan a objetos que sí lo tienen. 
* Dado que Python es un lenguaje de tipado dinámico, la misma variable puede apuntar, en momentos diferentes de la ejecución del programa, a objetos de diferente tipo.

In [10]:
a = 3 
print(a) 
print(type(a)) 

a = 'Pablo García' 
print(a) 
print(type(a)) 

a = 4.5 
print(a) 
print(type(a))

3
<class 'int'>
Pablo García
<class 'str'>
4.5
<class 'float'>

* Garbage collection: Cuando un objeto deja de estar referenciado, se elimina automáticamente.

**Identificadores**
* Podemos obtener un identificador único para los objetos referenciados por variables. 
* Este identificador se obtiene a partir de la dirección de memoria.

In [11]:
a = 3 
print(id(a)) 

a = 'Pablo García' 
print(id(a)) 

a = 4.5 
print(id(a))

140715792634728
2658717729968
2658711429040

* Referencias compartidas: un mismo objeto puede ser referenciado por más de una variable.
    * Variables que referencian al mismo objeto tienen mismo identificador.

In [12]:
a = 4567
print(id(a))

2658711431824

In [13]:
b = a
print(id(b))

2658711431824

In [14]:
c = 4567
print(id(c))

2658711432016

In [15]:
a = 25
b = 25

print(id(a))
print(id(b))
print(id(25))

140715792635432
140715792635432
140715792635432

In [16]:
# # Ojo con los enteros "grandes" [-5, 256] 
a = 258 
b = 258 

print(id(a)) 
print(id(b)) 
print(id(258))

2658711431280
2658711431568
2658711432144

* Referencia al mismo objeto a través de asignar una variable a otra

In [17]:
a = 400 
b = 4
print(id(a))
print(id(b))

2658711432272
140715792634760

* Las variables pueden aparecer en expresiones.

In [18]:
a = 3
b = 5
print (id(a))
print (a + b)

140715792634728
8

In [19]:
c = a + b
print (c)
print (id(c))

8
140715792634888

**Respecto a los nombres de las variables...**

* Nose puede poner números delante del nombre de las variables. 
* Porconvención, evitar _CamelCase_. Mejor usar snake_case: uso de “_” para separar palabras. 
* El lenguaje diferencia entre mayúsculas y minúsculas. 
* Deben ser descriptivos.
* Hay palabras o métodos reservados-> [Built-ins](https://docs.python.org/3/library/functions.html) y [KeyWords](https://docs.python.org/3/reference/lexical_analysis.html#keywords)
     * **Ojo** con reasignar un nombre reservado!

In [20]:
print(pow(3,2))

9

In [171]:
#  print(pow(3,2))

# pow = 1 #built-in reasignado
# print(pow)

# print(pow(3,2))

In [22]:
def pow(a, b):
    return a + b

print (pow(3,2))

5

**Asignación múltiple de variables**

In [23]:
x, y, z = 1, 2, 3 
print(x, y, z) 

t = x, y, z, 7, "Python" 
print(t) 
print(type(t))

1 2 3
(1, 2, 3, 7, 'Python')
<class 'tuple'>

* Esta técnica tiene un uso interesante: el intercambio de valores entre dos variables.

In [24]:
a = 1
b = 2 

a, b = b, a
print (a, b)

2 1

In [25]:
a = 1
b = 2

c = a 
a = b
b = c
print (a, b, c)

2 1 1

### 2.3 Tipos de datos básicos

**Bool**

* 2 posibles valores: 'True' o 'False'

In [26]:
a = False 
b = True 

print(a) 
print(type(a)) 

print(b) 
print(type(b))

False
<class 'bool'>
True
<class 'bool'>

* ‘True’ y ‘False’ también son objetos que se guardan en caché, al igual que los enteros pequeños.

In [27]:
a = True 
b = False 

print(id(a)) 
print(id(b)) 

print(a is b) 
print(a == b)

140715791165984
140715791166016
False
False

**Números**

In [28]:
print(2) # Enteros, sin parte fraccional.
print(3.4)  # Números en coma flotante, con parte fraccional. 
print(2+4j) # Números complejos. 
print(1/2) # Numeros racionales.

2
3.4
(2+4j)
0.5

* Diferentes representaciones : base 10, 2, 8, 16.

In [29]:
x = 58 # decimal 
z = 0b00111010 # binario 
w = 0o72 # octal 
y = 0x3A # hexadecimal 

print(x == y == z == w)

True

**Strings**
* Cadenas de caracteres. 
* Son secuencias: la posición de los caracteres es importante. 
* Son immutables: las operaciones sobre strings no cambian el string original.

In [31]:
s = 'John "ee" Doe' 
print(s[0]) # Primer carácter del string. 
print(s[-1]) # Último carácter del string. 
print(s[1:8:2]) # Substring desde el segundo carácter (inclusive) hasta el␣ ↪octavo (exclusive). Esta técnica se la conoce como 'slicing'. 
print(s[:]) # Todo el string. 
print(s + "e") # Concatenación.

J
e
on"e
John "ee" Doe
John "ee" Doee

### 2.4 Conversión entre tipos
* Aveces queremos que un objeto sea de un tipo específico. 
* Podemos obtener objetos de un tipo a partir de objetos de un tipo diferente (casting).

In [33]:
a = int(2.8)          # a será 2
b = int("3")          # b será 3
c = float(1)          # c será 1.0
d = float("3")        # d será 3.0
e = str(2)            # e será '2'
f = str(3.0)          # f será '3.0'
g = bool("a")         # g será True
h = bool("")          # h será False
i = bool(3)           # i será True  
j = bool(0)           # j será False
k = bool(None) 

print(a) 
print(type(a)) 

print(b) 
print(type(b)) 

print(c) 
print(type(c)) 

print(d) 
print(type(d)) 

print(e) 
print(type(e)) 

print(f) 
print(type(f)) 

print(g) 
print(type(g)) 

print(h) 
print(type(h)) 

print(i) 
print(type(i)) 

print(j) 
print(type(j)) 

print(k)

2
<class 'int'>
3
<class 'int'>
1.0
<class 'float'>
3.0
<class 'float'>
2
<class 'str'>
3.0
<class 'str'>
True
<class 'bool'>
False
<class 'bool'>
True
<class 'bool'>
False
<class 'bool'>
False

In [34]:
print(7/4) # División convencional. Resultado de tipo 'float' 
print(7//4) # División entera. Resultado de tipo 'int' 
print(int(7/4)) # Divisón convencional. Conversión del resultado de 'float' a␣ ↪'int'

1.75
1
1

### 2.5 Operadores
[Python3 precedencia en operaciones](https://docs.python.org/3/reference/expressions.html#operator-precedence)

* Combinación de valores, variables y operadores
* Operadores y operandos

**Operadores aritméticos**

| Operador | Expresión | Descripción |
|---------|-----------|-------------|
| + | a + b | Suma |
| - | a - b | Resta |
| / | a / b | División |
| // | a // b | División Entera |
| % | a % b | Módulo / Resto |
| * | a * b | Multiplicación |
| * | a * b | Exponenciación |

In [36]:
x = 3 
y = 2 

print('x + y = ', x + y) 
print('x- y = ', x- y)
print('x * y = ', x * y) 
print('x / y = ', x / y) 
print('x // y = ', x // y) 
print('x % y = ', x % y) 
print('x ** y = ', x ** y)

x + y =  5
x- y =  1
x * y =  6
x / y =  1.5
x // y =  1
x % y =  1
x ** y =  9

**Operadores de comparación**
| Operador | Expresión | Descripción |
|---------|-----------|-------------|
| > | a > b | Mayor |
| < | a < b | Menor |
| == | a == b | Igualdad |
| != | a != b | Desigualdad |
| >= | a >= b | Mayor o Igual |
| <= | a <= b | Menor o Igual |

In [37]:
x = 10 
y = 12 

print('x > y es ', x > y) 
print('x < y es ', x < y) 
print('x == y es ', x == y) 
print('x != y es ', x != y) 
print('x >= y es ', x >= y) 
print('x <= y es ', x <= y)

x > y es  False
x < y es  True
x == y es  False
x != y es  True
x >= y es  False
x <= y es  True

**Operadores Lógicos**
| Operador | Expresión | Descripción |
|---------|-----------|-------------|
| and | a and b | True si ambos son True |
| or | a or b | True si alguno de los dos es True |
| ^ | a ^ b | XOR – True si solo uno de los dos es True |
| not | not a | Negación |

Enlace a [Tablas de Verdad](https://en.wikipedia.org/wiki/Truth_table)

In [38]:
x = True 
y = False 

print('x and y es :', x and y) 
print('x or y es :', x or y) 
print('x xor y es :', x ^ y) 
print('not x es :', not x)

x and y es : False
x or y es : True
x xor y es : True
not x es : False

**Operadores Bitwise / Binarios**
| Operador | Expresión | Descripción |
|---------|-----------|-------------|
| & | a & b | AND binario |
| \| | a \| b | OR binario |
| ^ | a ^ b | XOR binario |
| ~ | ~a | NOT binario |
| >> | a >> b | Desplazamiento binario a la derecha |
| << | a << b | Desplazamiento binario a la izquierda |

In [44]:
x = 0b01100110 
y = 0b00110011 
print("Not x = " + bin(~x)) 
print("x and y = " + bin(x & y)) 
print("x or y = " + bin(x | y)) 
print("x xor y = " + bin(x ^ y)) 
print("x << 2 = " + bin(x << 2)) 
print("x >> 2 = " + bin(x >> 2))

Not x = -0b1100111
x and y = 0b100010
x or y = 0b1110111
x xor y = 0b1010101
x << 2 = 0b110011000
x >> 2 = 0b11001

**Operadores de Asignación**
| Operador | Descripción |
|---------|-------------|
| = | Asignación |
| += | Suma y asignación |
| -= | Resta y asignación |
| *= | Multiplicación y asignación |
| /= | División y asignación |
| %= | Módulo y asignación |
| //= | División entera y asignación |
| **= | Exponenciación y asignación |
| &= | AND y asignación |
| \|= | OR y asignación |
| ^= | XOR y asignación |
| >>= | Desplazamiento a la derecha y asignación |
| <<= | Desplazamiento a la izquierda y asignación |

In [45]:
a = 5 
a *= 3 # a = a * 3 
a += 1 # No existe a++, ni ++a,a--,--a 
print(a) 

b = 6 
b-= 2 # b = b- 2 
print(b)

16
4

**Operadores de Identidad**
| Operador | Expresión | Descripción |
|---------|-----------|-------------|
| is | a is b | True si ambos operadores son referencia al mismo objeto |
| is not | a is not b | True si ambos operadores no son referencia al mismo objeto |

In [46]:
a = 444
b = a
print (a is b)
print (a is not b)

True
False

**Operadores de Pertenencia**
| Operador | Expresión | Descripción |
|---------|-----------|-------------|
| in | a in b | True si a se encuentra en la secuencia b |
| not in | a not in b | True si a no se encuentra en la secuencia b |

In [47]:
x = 'Hola Mundo' 
y = {1:'a',2:'b'} 

print('H' in x) # True 
print('hola' not in x) # True 

print(1 in y) # True 
print('a' in y)  # False

True
True
True
False

### 2.6 Entrada de valores

In [48]:
valor = input("Inserte valor:")
print(valor)
print(type(valor))

Inserte valor: 655

655
<class 'str'>

In [49]:
grados_c = int(input("Conversión de grados a fahrenheit, inserte un valor:"))
print(f"Grados F:{1.8 *(grados_c) +32}")

Conversión de grados a fahrenheit, inserte un valor: 8

Grados F:46.4

## 3 Tipos de datos compuestos (coleciones)
### 3.1 Listas
* Una colección de objetos.
* Mutables.
* Tipos arbitrarios heterogeneos.
* Puede contener duplicados
* Notienen tamaño fijo. Pueden contener tantos elementos como quepan en memoria. 
* Los elementos van ordenados por posición. • Se acceden usando la sintaxis: [**index**]. 
* Los índices van de 0 a n-1, donde n es el número de elementos de la lista. 
* Son un tipo de Secuencia, al igual que los strings; por lo tanto, el orden (es decir, la posición de los objetos de la lista) es importante. 
* Soportan anidamiento. 
* Son una implementación del tipo abstracto de datos: Array Dinámico.

**Operaciones con listas**

* Creación de listas.

In [50]:
letras = ['a', 'b', 'c', 'd'] 
palabras = 'Hola mundo como estas'.split() 
numeros = list(range(7)) 

print(letras) 
print(palabras) 
print(numeros) 
print(type(numeros))

['a', 'b', 'c', 'd']
['Hola', 'mundo', 'como', 'estas']
[0, 1, 2, 3, 4, 5, 6]
<class 'list'>

In [51]:
# # Pueden contener elementos arbitrarios / heterogeneos 
mezcla = [1, 3.4, 'a', None, False] 
print(mezcla) 
print(len(mezcla)) # len me da el tamaño de la lista número de elementos

[1, 3.4, 'a', None, False]
5

In [52]:
# # Pueden incluso contener objetos más "complejos" 
lista_con_funcion = [1, 2, len, pow] 
print(lista_con_funcion)

[1, 2, <built-in function len>, <function pow at 0x0000026B07ED84A0>]

In [53]:
# # Pueden contener duplicados 
lista_con_duplicados = [1, 2, 3, 3, 3, 4] 
print(lista_con_duplicados)

[1, 2, 3, 3, 3, 4]

* Obtención de la longitud de una lista.

In [54]:
letras = ['a', 'b', 'c', 'd', 1] 
print(len(letras))

5

* Acceso a un elemento de una lista.

In [55]:
print(letras[2]) 
print(letras[-5]) 
print(letras[0])

c
a
a

* **Slicing**: obtención de un fragmento de una lista, devuelve una copia de una parte de la lista
    * Sintaxis: lista [ inicio : fin : paso ]

In [56]:
letras = ['a', 'b', 'c', 'd', 'e'] 

print(letras[1:3]) 
print(letras[:3]) 
print(letras[:-1]) 
print(letras[2:]) 
print(letras[:]) 
print(letras[::2])

['b', 'c']
['a', 'b', 'c']
['a', 'b', 'c', 'd']
['c', 'd', 'e']
['a', 'b', 'c', 'd', 'e']
['a', 'c', 'e']

In [57]:
letras = ['a', 'b', 'c', 'd'] 

print(letras) 
print(id(letras)) 

a = letras[:] 
print(a) 
print(id(a)) 

print(letras.copy()) 
print(id(letras.copy()))

['a', 'b', 'c', 'd']
2658725623616
['a', 'b', 'c', 'd']
2658725504128
['a', 'b', 'c', 'd']
2658725504256

* Añadir un elemento al final de la lista

In [58]:
letras.append('e')
print(letras)
print(id(letras))

['a', 'b', 'c', 'd', 'e']
2658725623616

In [59]:
letras += 'e'
print (letras)
print(id(letras))

['a', 'b', 'c', 'd', 'e', 'e']
2658725623616

* Insertar en posición

In [60]:
print(len(letras))
letras.insert(1, 'g')
print(len(letras))
print(letras)
print(id(letras))

6
7
['a', 'g', 'b', 'c', 'd', 'e', 'e']
2658725623616

* Modificación de la lista (individual).

In [62]:
letras [5] = 'f'
print(letras)
print(id(letras))

['a', 'g', 'b', 'c', 'd', 'f', 'e']
2658725623616

* Modificación múltiple usando slicing.

In [63]:
letras = ['a', 'b', 'c', 'f', 'g', 'h', 'i', 'j', 'k'] 
print(id(letras))

2658725501376

In [64]:
letras[0:7:2] = ['z', 'x', 'y','p'] 
print(letras) 
# print(id(letras))

['z', 'b', 'x', 'f', 'y', 'h', 'p', 'j', 'k']

In [65]:
# # Ojo con la diferencia entre modificación individual y múltiple. Asignación␣ ↪individual de lista crea anidamiento. 
numeros = [1, 2, 3] 
numeros[1] = [10, 20, 30] 

print(numeros) 
print(numeros[1][0]) 

numeros[1][2] = [100, 200] 
print(numeros) 

print(numeros[1][2][1])

[1, [10, 20, 30], 3]
10
[1, [10, 20, [100, 200]], 3]
200

* Eliminar elemento

In [66]:
#letras.remove('f') 
if 'p' in letras: 
    letras.remove('p') 
# #letras.remove('z') 
print(letras)

['z', 'b', 'x', 'f', 'y', 'h', 'j', 'k']

In [67]:
# elimina el elemento en posición-1 y lo devuelve 
elemento = letras.pop() 
print(elemento) 
print(letras)

k
['z', 'b', 'x', 'f', 'y', 'h', 'j']

In [68]:
numeros = [1, 2, 3] 
print(numeros) 
numeros[2] = [10, 20, 30] 
print(numeros) 

n = numeros[2].pop() 
print(numeros) 
print(n)

[1, 2, 3]
[1, 2, [10, 20, 30]]
[1, 2, [10, 20]]
30

In [70]:
# numeros1=10 
# print(numeros1) 
# print(numeros)

In [ ]:
lista = []
a = lista-pop()

* Encontrar índice de un elemento

In [75]:
letras = ['a', 'b', 'c', 'c']

if 'a' in letras:
    print(letras.index('a'))
print(letras)

0
['a', 'b', 'c', 'c']

* Concatenar listas.

In [76]:
lacteos = ['queso', 'leche'] 
frutas = ['naranja', 'manzana'] 
print(id(lacteos)) 
print(id(frutas)) 

compra = lacteos + frutas 
print(id(compra)) 
print(compra)

2658725359552
2658725360384
2658725323456
['queso', 'leche', 'naranja', 'manzana']

In [77]:
# # Concatenación sin crear una nueva lista 
frutas = ['naranja', 'manzana'] 
print(id(frutas)) 
frutas.extend(['pera', 'uvas']) 
print(frutas) 
print(id(frutas))

2658725422400
['naranja', 'manzana', 'pera', 'uvas']
2658725422400

In [78]:
# # Anidar sin crear una nueva lista 
frutas = ['naranja', 'manzana'] 
print(id(frutas)) 
frutas.append(['pera', 'uvas']) 
print(frutas) 
print(id(frutas))

2658725299968
['naranja', 'manzana', ['pera', 'uvas']]
2658725299968

* Replicar una lista.

In [81]:
lacteps  =['queso', 'leche']
print(lacteos * 3)
print(id(lacteos))

a = 3 * lacteos
print(a)
print(id(a))

['queso', 'leche', 'queso', 'leche', 'queso', 'leche']
2658725359552
['queso', 'leche', 'queso', 'leche', 'queso', 'leche']
2658726155328

* Copiar una lista.

In [84]:
frutas2 = frutas.copy()
frutas2 = frutas[:]
print(frutas2)
print('id frutas =' + str(id(frutas)))
print ('id frutas2 =' + str(id(frutas2)))

['naranja', 'manzana', ['pera', 'uvas']]
id frutas =2658725299968
id frutas2 =2658726273280

* Ordenar una lista.

In [85]:
lista = [4,3,8,1]
print(lista)
lista.sort()
print(lista)

lista.sort(reverse=True)
print (lista)

[4, 3, 8, 1]
[1, 3, 4, 8]
[8, 4, 3, 1]

In [ ]:
# # Los elementos deben ser comparables para poderse ordenar
lista = [1, 'a']
lista.sort()

In [88]:
compra = ['Huevos','Pan','zapallo','Leche','Licor'] 
print(sorted(compra)) 
print(compra)

['Huevos', 'Leche', 'Licor', 'Pan', 'zapallo']
['Huevos', 'Pan', 'zapallo', 'Leche', 'Licor']

* Pertenencia

In [89]:
lista = [1, 2, 3, 4]
print (1 in lista)
print (5 in lista)

True
False

* Anidamiento.

In [90]:
letras = ['a', 'b', 'c', ['x', 'y', ['i', 'j', 'k']]] 
print(letras[0]) 
print(letras[3][0]) 
print(letras[3][2][0])

a
x
i

In [91]:
print(letras[3])

['x', 'y', ['i', 'j', 'k']]

In [92]:
a =[1000,2,3] 
b = a[:] #a.copy() #[:] 

print(id(a)) 
print(id(b)) 
print(id(a[0])) 
print(id(b[0]))

2658726584192
2658726584256
2658724476112
2658724476112

Alias/Referencias en las listas
* Son mutables y las asignaciones a un objeto alteran el primero 
* Pasar listas a funciones puede suponer un riesgo 
* Clonar o copiar listas

In [93]:
lista = [2, 4, 16, 32] 
ref = lista 

print(id(lista)) 
print(id(ref)) 

ref[2] = 64 

print(ref) 
print(lista)

2658726583296
2658726583296
[2, 4, 64, 32]
[2, 4, 64, 32]

In [94]:
lista = [2000, 4, 16, 32] 
copia = lista[:] 
copia = lista.copy() 

copia[2] = 64 

print(lista) 
print(copia) 

print(id(lista)) 
print(id(copia)) 

print(id(lista[2])) 
print(id(copia[2]))

[2000, 4, 16, 32]
[2000, 4, 64, 32]
2658726555328
2658726567616
140715792635144
140715792636680

In [95]:
# #listas anidadas se copian por referencia 
lista = [2, 4, 16, 32, [34, 10, [5,5]]] 
copia = lista.copy() 

copia[3] = 20 
copia[4][0] = 28 

print(copia) 
print(lista)

[2, 4, 16, 20, [28, 10, [5, 5]]]
[2, 4, 16, 32, [28, 10, [5, 5]]]

In [96]:
lista = [0, 1, [10, 20]] 
print(id(lista)) 

lista2 = [10, 20] 
lista = [0, 1, lista2] 

copia = lista[:] #.copy() 
print(copia) 
print(id(copia)) 

print(id(lista[2])) 
print(id(copia[2]))

copia[2][0] = 40 
print(copia) 
print(lista)

2658726554304
[0, 1, [10, 20]]
2658726555584
2658726554816
2658726554816
[0, 1, [40, 20]]
[0, 1, [40, 20]]

In [97]:
# # evitar que listas anidadas se copien por referencia 
import copy 

lista = [2, 4, 16, 32, [34, 10, [5,5]]] 

copia = copy.deepcopy(lista) 
copia[0] = 454 
copia[4][2][0] = 64 
print(lista)
print(copia) 

print(f"{id(lista)}- {id(copia)}") 
print(f"{id(lista[4])}- {id(copia[4])}")

[2, 4, 16, 32, [34, 10, [5, 5]]]
[454, 4, 16, 32, [34, 10, [64, 5]]]
2658726568768- 2658726554304
2658726575872- 2658726577344

### 3.2 Diccionarios
* Colección de parejas clave-valor. 
* Son mutables. 
* Claves:
    * Cualquier objeto inmutable.
    * Sólo pueden aparecer una vez en el diccionario. 
* Valores:
    * Sin restricciones. Cualquier objeto (enteros, strings, listas, etc.) puede hacer de valor. 
* Desde la versión 3.7 están ordenados.
* Se pueden ver como listas indexadas por cualquier objeto inmutable, no necesariamente por números enteros. 
* Adiferencia de las listas, no son secuencias. Son mappings.

**Operaciones con diccionarios**
* Creación de diccionarios.

In [98]:
# Creación simple, usando una expresión literal. 
persona = {'DNI' : '11111111D', 'Nombre' : 'Carlos', 'Edad' : 34} 
print(persona)

{'DNI': '11111111D', 'Nombre': 'Carlos', 'Edad': 34}

In [100]:
# Creación uniendo dos colecciones. 
nombres = ['Pablo', 'Manolo', 'Pepe', 'Juan'] 
edades = [52, 14, 65]
datos = dict(zip(nombres,edades)) 

print(datos)

{'Pablo': 52, 'Manolo': 14, 'Pepe': 65}

In [101]:
# Creación pasando claves y valores a la función 'dict' 
persona2 = dict(nombre='Rosa', apellido='Garcia') 
print(persona2)

{'nombre': 'Rosa', 'apellido': 'Garcia'}

In [102]:
# Creación usando una lista de tuplas de dos elementos. 
persona2 = dict([('nombre', 'Rosa'), ('apellido','Garcia')]) 
print(persona2)

{'nombre': 'Rosa', 'apellido': 'Garcia'}

In [170]:
# Creación incremental por medio de asignación (como las claves no existen, se␣ ↪crean nuevos items) 
# persona = {} 
# print(persona['DNI']) 
# persona['DNI'] = '11111111D' 
# persona['Nombre'] = 'Carlos' 
# persona['Edad'] = 34 
# persona['DNI'] = '222222222' 

# print(persona)

* Acceso a un valor a través de la clave.

In [104]:
persona = {'DNI' : '11111111D', 'Nombre' : 'Carlos', 'Edad' : 34} 
print(persona['Nombre'])

Carlos

In [105]:
# Acceso a claves inexistentes o por índice produce error
# persona[1] 
print(persona['Nombre']) 
if 'Trabajo' in persona: 
    print(persona['Trabajo']) 
else: 
    print("En el paro") 
    
persona.get('Trabajo', "En el paro")

Carlos
En el paro

'En el paro'

* Modificación de un valor a través de la clave.

In [107]:
persona = {'DNI' : '11111111D', 'Nombre' : 'Carlos', 'Edad' : 34} 

persona['Nombre'] = 'Fernando' 
persona['Edad'] += 1 

print(persona)

{'DNI': '11111111D', 'Nombre': 'Fernando', 'Edad': 35}

* Añadir un valor a través de la clave.

In [108]:
persona = {'DNI' : '11111111D', 'Nombre' : 'Carlos', 'Edad' : 34} 
persona['Ciudad'] = 'Valencia' 

print(persona)

{'DNI': '11111111D', 'Nombre': 'Carlos', 'Edad': 34, 'Ciudad': 'Valencia'}

* Eliminación  de un valor a través de la clave.

In [109]:
del persona['Ciudad'] 
value = persona.pop('Edad') 

print(persona) 
print(value)

{'DNI': '11111111D', 'Nombre': 'Carlos'}
34

* Recuperación del valor de un clave, indicado valor por defecto en caso de ausencia.

In [110]:
persona = {'Nombre' : 'Carlos'} 

value = persona.get('Nombre') 
print(value) 

# persona['Estatura'] 

value = persona.get('Estatura', 180) 
print(value)

Carlos
180

* Anidamiento.

In [112]:
persona = { 
    'Trabajos' : ['desarrollador', 'gestor'], 
    'Direccion' : {'Calle' : 'Pintor Sorolla', 'Ciudad' : 'Valencia'} 
}
    
print(persona['Direccion']) 
print(persona['Direccion']['Ciudad'])

{'Calle': 'Pintor Sorolla', 'Ciudad': 'Valencia'}
Valencia

* Métodos items, keys y values.

In [113]:
persona = {'DNI' : '11111111D', 'Nombre' : 'Carlos', 'Edad' : 34} 

print(list(persona.items())) 
print(list(persona.keys())) 
print(list(persona.values()))

[('DNI', '11111111D'), ('Nombre', 'Carlos'), ('Edad', 34)]
['DNI', 'Nombre', 'Edad']
['11111111D', 'Carlos', 34]

In [114]:
dict_simple = {'ID' : 'XCSDe1194', 'Nombre' : 'Carlos', 'Edad' : 34} 

# iterar sobre las claves 
print('Claves\n') 
for key in dict_simple.keys(): # o dict_simple 
    print(key) 
    
print('\nValores\n') 
# iterar sobre los valores 
for value in dict_simple.values(): 
    print(value)

Claves

ID
Nombre
Edad

Valores

XCSDe1194
Carlos
34

In [115]:
dict_simple = {'ID' : 'XCSDe1194', 'Nombre' : 'Carlos', 'Edad' : 34}
# iterar sobre ambos, directamente con items(). 
for key, value in dict_simple.items(): 
    print('Clave: ' + str(key) + ', valor: ' + str(value)) 
    
for item in dict_simple.items(): # devuelve tuplas 
    print('Item: ' + str(item)) 
    
# usar zip para iterar sobre Clave-Valor 
for key, value in zip(dict_simple.keys(),dict_simple.values()): 
    print('Clave: ' + str(key) + ', valor: ' + str(value))

Clave: ID, valor: XCSDe1194
Clave: Nombre, valor: Carlos
Clave: Edad, valor: 34
Item: ('ID', 'XCSDe1194')
Item: ('Nombre', 'Carlos')
Item: ('Edad', 34)
Clave: ID, valor: XCSDe1194
Clave: Nombre, valor: Carlos
Clave: Edad, valor: 34

### 3.3 Sets (Conjuntos)
Al igual que las listas:
* Colección de elementos.
* Tipos arbitrarios.
* Multables
* No tiene tamaño fijo. pueden contener tantos elementos como quepan en memoria.<br>

A diferencia de las listas:
* No puede tener duplicados
* Se definen por medio de llaves.
* Los elementos no van ordenados por posición. No hay orden establecido.
* Solo pueden contener objetos inmutables.
* No soportan anidamiento.<br>

**Operaciones con conjuntos**
* Creacion con conjuntos.

In [116]:
set1 = {0, 1, 1, 2, 3, 4, 4} 
print(set1) 

set2 = {'user1', 12, 2} 
print(set2) 

set3 = set(range(7)) 
print(set3) 

set4 = set([0, 1, 2, 3, 4, 0, 1]) 
print(set4)

{0, 1, 2, 3, 4}
{'user1', 2, 12}
{0, 1, 2, 3, 4, 5, 6}
{0, 1, 2, 3, 4}

In [117]:
#Observa la diferencia entre listas y conjuntos 
s = 'aabbc' 
print(list(s)) 
print(set(s))

['a', 'a', 'b', 'b', 'c']
{'a', 'b', 'c'}

* Acceso por índice genera error.

In [169]:
# set1 = {0, 1, 2}
# print{set1[0]}

* Unión, intersección y diferencia.

In [119]:
set1 = {0, 1, 1, 2, 3, 4, 5, 8, 13, 21} 
set2 = set([0, 1, 2, 3, 4, 42]) 

# union 
print(set1 | set2) 

# intersección 
print(set1 & set2) 

# diferencia 
print(set1- set2) 
print(set2- set1)

{0, 1, 2, 3, 4, 5, 8, 42, 13, 21}
{0, 1, 2, 3, 4}
{8, 13, 21, 5}
{42}

In [120]:
a = [1,2] 
b = [2,3] 
print(set(a) & set(b))

{2}

In [121]:
#Además de los operadores, que operan únicamente con Sets, también se pueden␣ ↪usar métodos que pueden operar sobre cualquier objeto iterable. 
conjunto = {0, 1, 2} 
lista = [1, 3, 3] 

print(conjunto.union(lista)) 
print(conjunto.intersection(lista)) 
print(conjunto.difference(lista))

{0, 1, 2, 3}
{1}
{0, 2}

* Comparacion de conjuntos.

In [122]:
set1 = {0, 1, 1, 2, 3, 4, 5, 8, 13, 21} 
set2 = set([0, 1, 2, 3, 4]) 

print(set2.issubset(set1)) 
print(set1.issuperset(set2)) 
print(set1.isdisjoint(set2))

True
True
False

* Pertenecia.

In [123]:
words = {'calm', 'balm'} 
print('calm' in words)

True

* Anidamiento

In [124]:
# Los conjuntos no soportan anidamiento, pero como permite elementos␣ ↪inmutables, se pueden "anidar" tuplas. 

nested_set = {1, (1, 1, 1), 2, 3, (1,1,1)} 
print(nested_set)

{1, 2, 3, (1, 1, 1)}

* Modificación de conjuntos.

In [126]:
# A través de operador de asignación 

set1 = {'a', 'b', 'c'} 
set2 = {'a', 'd'} 

set1 |= set2 
set1 = set1 | set2 
set1 &= set2 
set1-= set2 
print(set1)

set()

In [127]:
# A través de método 'update'. 

set1 = {'a', 'b', 'c'} 
set2 = {'a', 'd'} 

set1.update(set2) 
set1.intersection_update(set2) 

set1.difference_update(set2) 
print(set1)

set()

In [128]:
# A través de métodos 'add' y 'remove'. 
set1 = {'a', 'b', 'c'} 
set1.add('d') 
set1.remove('a') 
print(set1)

{'b', 'c', 'd'}

### 3.4 Tuplas
Al igual que las listas:
* Colección de elementos.
* Tipos arbitrarios
* Puede contener duplicados.
* No tienen tamaño fijo. Pueden contener tantos elementos como quepan en memoria.
* Los elementos van ordenados por posició.


* Acceso a través de la sintaxis: [**Index**]
* Indices van de 0 a -1, donde n es el número de elementos de la tupla.
* Son secuencias donde el orden de los elementos importa.
* Soportan anidamiento.

A diferencia de las listas:
* Se definen por medio de paréntesis.
* Inmutables

**¿Por qué Tuplas?**
* Representación de una colección fija de elementos (por ejemplo, una fecha).
* Pueden usarse en contextos que requieren inmutabilidad (por ejemplo, como claves de un diccionario).

**Operaciones con Tuplas**
* Creacion de tuplas.

In [129]:
tuple1 = ('Foo', 34, 5.0, 34) 
print(tuple1) 

tuple2 = 1, 2, 3 
print(tuple2) 

tuple3 = tuple(range(10)) 
print(tuple3) 

tuple4 = tuple([0, 1, 2, 3, 4]) 
print(tuple4)

('Foo', 34, 5.0, 34)
(1, 2, 3)
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
(0, 1, 2, 3, 4)

In [130]:
# Ojo con las tuplas de un elemento. Los paréntesis se intepretan como␣ ↪indicadores de precedencia de operadores. 
singleton_number = (1) 
type(singleton_number)

int

In [131]:
# Creación de tupla de un elemento. 
singleton_tuple = (1,) 
print(type(singleton_tuple)) 
print(singleton_tuple)

<class 'tuple'>
(1,)

* Obtención del número de elementos

In [133]:
print(len(tuple1))

4

* Acceso por índice.

In [134]:
tuple1 = ('Foo', 1, 2, 3) 

print(tuple1[0]) # Primer elemento 
print(tuple1[len(tuple1)-1]) # Último elemento 
print(tuple1[-1]) # Índices negativos comienzan desde el final 
print(tuple1[-len(tuple1)]) # primer elemento

Foo
3
3
Foo

* Asignación a tuplas falla. Son inmutables.

In [136]:
# tuple1 [0] = 'bar'

In [137]:
print(id(tuple1)) 
lista = list(tuple1) 
lista[0] = 'bar' 
tuple1 = tuple(lista) 
print(id(tuple1))

print(tuple1)

2658726418352
2658725389360
('bar', 1, 2, 3)

* Contar número de ocurrencias de un elemento.

In [138]:
tuple1 = ('Foo', 34, 5.0, 34)
print(tuple1.count(34))

2

* Encontrar el índice de un elemento.

In [139]:
tuple1 = ('Foo', 34, 5.0, 34) 
indice = tuple1.index(34) 

print(indice) 
print(tuple1[indice])

1
34

In [141]:
# Si el elemento no existe, error 
# tuple1 = ('Foo', 34, 5.0, 34) 
# print(tuple1.index(1))

In [143]:
# comprobar si existe antes 
tuple1 = ('Foo',34, 5.0, 34) 

elemento = 35 
if elemento in tuple1: 
    print(tuple1.index(elemento)) 
else: 
    print(str(elemento) + ' not found')

35 not found

* Desempaquetar una tupla

In [144]:
tuple1 = (1, 2, 3, 4) 
a, b, c, d = tuple1 # a,b,c- a,b,c,d- a,b,_,_- a, *_ 

print(a) 
print(b) 
print(_) 
print(d)

1
2
<class 'int'>
4

In [145]:
a, b, *resto = tuple1 
print(a) 
print(b) 
print(resto)

1
2
[3, 4]

### 3.5 Secuencias
* Formalmente, objetos iterables no materializados
* No son listas. 'list()' para materializarla
* 'range' o 'enumerate'

In [146]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [147]:
lista = [10, 20, 30] 
print(list(enumerate(lista)))

[(0, 10), (1, 20), (2, 30)]

In [148]:
# enumerate para iterar una colección (índice y valor) 
lista = [10, 20, 30] 
for index, value in enumerate(lista): 
    print('Index = ' + str(index) + '. Value = ' + str(value)) 
    
for index, value in [(0,10), (1,20), (2,30)]: 
    print('Index = ' + str(index) + '. Value = ' + str(value))

Index = 0. Value = 10
Index = 1. Value = 20
Index = 2. Value = 30
Index = 0. Value = 10
Index = 1. Value = 20
Index = 2. Value = 30

In [150]:
# enumerate para iterar una colección (índice y valor) 
for index, value in enumerate(range(0,10,2)): 
     print('Index = ' + str(index) + '. Value = ' + str(value)) 

for value in enumerate(range(0,10,2)): 
     print(value)

Index = 0. Value = 0
Index = 1. Value = 2
Index = 2. Value = 4
Index = 3. Value = 6
Index = 4. Value = 8
(0, 0)
(1, 2)
(2, 4)
(3, 6)
(4, 8)

In [151]:
# zip para unir, elemento a elemento, dos colecciones, retornando lista de␣ ↪tuplas 
# útil para iterar dos listas al mismo tiempo 
nombres = ['Manolo','Pepe','Luis'] 
edades = [31,34,34,45] 

for nombre,edad in zip(nombres,edades): 
     print('Nombre: ' + nombre + ', edad: ' + str(edad))

Nombre: Manolo, edad: 31
Nombre: Pepe, edad: 34
Nombre: Luis, edad: 34

In [152]:
nombres = ['Manolo','Pepe','Luis'] 
edades = [31,34,34] 

for i in range(0,len(nombres)): 
     print(f"Nombre es {nombres[i]} y edad es {edades[i]}")

Nombre es Manolo y edad es 31
Nombre es Pepe y edad es 34
Nombre es Luis y edad es 34

In [154]:
nombres = ['Manolo','Pepe','Luis'] 
edades = [31,34,34] 
jugadores = zip(nombres,edades) # genera secuencia 
print(list(jugadores)) 
print(type(jugadores))

[('Manolo', 31), ('Pepe', 34), ('Luis', 34)]
<class 'zip'>

In [155]:
# listas de diferentes longitudes 
nombres = ['Manolo','Pepe','Luis'] 
edades = [31,34,34,44,33] 
jugadores = zip(nombres,edades) 
print(list(jugadores))

[('Manolo', 31), ('Pepe', 34), ('Luis', 34)]

In [159]:
# unzip 
# nombres = ['Manolo','Pepe','Luis'] 
# edades = [31,34,34] 
# alturas = [120, 130, 140] 
# jugadores = zip(nombres,edades, alturas) 
# # print(list(jugadores)) 

# ns, es, al = zip(*jugadores) 
# print(list(ns)) 
# print(es) 
# print(al)

In [162]:
nombres = ['Manolo','Pepe','Luis'] 
edades = [31,34,34] 
dd = [23,34,45] 
jugadores_z = zip(nombres,edades, dd) 
print(list(jugadores_z)) 
jugadores_uz = zip(*jugadores_z) 
print(list(jugadores_uz))

[('Manolo', 31, 23), ('Pepe', 34, 34), ('Luis', 34, 45)]
[]

### 3.6 Para terminar, volvemos a enfatizar un matiz importante ...
**En Python todo son objetos**
Cada objeto tiene:
* **Identidad**: Nunca cambia una vez creado. Es como la dirección de memoria- Operador **is** compara identidad. Funcion **id()** devuelve identidad.
* **Tipo**: Determina posibles valores y operaciones- Funcion **type()** devuelve el tipo. No cambia.
* **Valor**: que pueden ser mutables e inmutables.
    * Tipos mutables: list, dictionary, set y tipos definidos por el usuario.
    * Tipos inmutables: int, float, bool, string y tuple.

In [164]:
# Asignación 

list_numbers = [1, 2, 3] # Lista (mutable) 
tuple_numbers = (1, 2, 3) # Tupla (inmutable) 

print(list_numbers[0]) 
print(tuple_numbers[0]) 

list_numbers[0] = 100 
# tuple_numbers[0] = 100 

print(list_numbers) 
print(tuple_numbers) 

tuple_l_numbers = list(tuple_numbers) 
tuple_l_numbers[0] = 100 
tuple_numbers = tuple(tuple_l_numbers) 
print(tuple_numbers)

1
1
[100, 2, 3]
(1, 2, 3)
(100, 2, 3)

In [165]:
# Identidad 

list_numbers = [1, 2, 3] 
tuple_numbers = (1, 2, 3) 

print('Id list_numbers: ' + str(id(list_numbers))) 
print('Id tuple_numbers: ' + str(id(tuple_numbers))) 

list_numbers += [4, 5, 6] # La lista original se extiende 
tuple_numbers += (4, 5, 6) # Se crea un nuevo objeto 

print(list_numbers) 
print(tuple_numbers) 

print('Id list_numbers: ' + str(id(list_numbers))) 
print('Id tuple_numbers: ' + str(id(tuple_numbers)))

Id list_numbers: 2658725486400
Id tuple_numbers: 2658726439168
[1, 2, 3, 4, 5, 6]
(1, 2, 3, 4, 5, 6)
Id list_numbers: 2658725486400
Id tuple_numbers: 2658726216416

In [166]:
# Referencias 

list_numbers = [1, 2, 3] 
list_numbers_2 = list_numbers # list_numbers_2 referencia a list_numbers 

print('Id list_numbers: ' + str(id(list_numbers))) 
print('Id list_numbers_2: ' + str(id(list_numbers_2))) 
list_numbers.append(4) # Se actualiza list_numbers2 también 

print(list_numbers) 
print(list_numbers_2) 

print('Id list_numbers: ' + str(id(list_numbers))) 
print('Id list_numbers_2: ' + str(id(list_numbers_2)))

Id list_numbers: 2658726251840
Id list_numbers_2: 2658726251840
[1, 2, 3, 4]
[1, 2, 3, 4]
Id list_numbers: 2658726251840
Id list_numbers_2: 2658726251840

In [167]:
text = "Hola" # Inmutable 
text_2 = text # Referencia 

print('Id text: ' + str(id(text))) 
print('Id text_2: ' + str(id(text_2))) 

text += " Mundo" 

print(text) 
print(text_2) 

print('Id text: ' + str(id(text))) 
print('Id text_2: ' + str(id(text_2)))

Id text: 2658727131056
Id text_2: 2658727131056
Hola Mundo
Hola
Id text: 2658725510384
Id text_2: 2658727131056

In [168]:
teams = ["Team A", "Team B", "Team C"] # Mutable 
player = (23, teams) # Inmutable 

print(type(player)) 
print(player) 
print(id(player)) 

teams[2] = "Team J" 

print(player) 
print(id(player)) 

player[1][0] = 'Team XX' 
print(teams)

<class 'tuple'>
(23, ['Team A', 'Team B', 'Team C'])
2658725749824
(23, ['Team A', 'Team B', 'Team J'])
2658725749824
['Team XX', 'Team B', 'Team J']

### 3.7 Ejercicios

1. Escribe un programa que muestre por pantalla la concatenación de un número y una cadena de caracteres. Para obtener esta concatenación puedes usar uno de los operadores explicados en este tema. Ejemplo: dado el número 3 y la cadena ‘abc’, el programa mostrará la cadena ‘3abc’.

In [173]:
# Definimos un número
numero = 2004

# Definimos una cadena de texto
cadena = "Martin"

# Convertimos el número a string y concatenamos
resultado = str(numero) + cadena

# Mostramos el resultado por pantalla
print(resultado)

2004Martin

2. Escribe un programa que muestre por pantalla un valor booleano que indique si un número entero N está contenido en un intervalo semiabierto [a,b)
, el cual establece una cota inferior a (inclusive) y una cota superior b (exclusive) para N.

In [174]:
# Definimos los valores
N = 5
a = 3
b = 10

# Comprobamos si N está dentro del intervalo [a, b)
resultado = (N >= a) and (N < b)

# Mostramos el resultado por pantalla
print(resultado)

True

3. Escribe un programa que, dado dos strings S1 y S2 y dos números enteros N1 y N2, determine si el substring que en S1 se extiende desde la posición N1 a la N2 (ambos inclusive) está contenido en S2.

In [175]:
# Definimos los strings
S1 = "programacion"
S2 = "aprendo programacion en python"

# Definimos las posiciones
N1 = 0
N2 = 6

# Obtenemos el substring (N2 + 1 porque el límite superior es exclusivo)
substring = S1[N1:N2 + 1]

# Verificamos si el substring está contenido en S2
resultado = substring in S2

# Mostramos el resultado
print(resultado)

True

4. Dada una lista con elementos duplicados, escribir un programa que muestre una nueva lista con el mismo contenido que la primera pero sin elementos duplicados.

In [176]:
# Lista original con duplicados
lista_original = [1, 2, 2, 3, 4, 4, 5]

# Nueva lista sin duplicados
lista_sin_duplicados = list(set(lista_original))

# Mostramos el resultado
print(lista_sin_duplicados)

[1, 2, 3, 4, 5]

5. Escribe un programa que, dada una lista de strings L, un string s perteneciente a L y un string t, reemplace s por t en L. El programa debe mostrar la lista resultante por pantalla.

In [177]:
# Lista de strings
L = ["rojo", "verde", "azul"]

# Strings a reemplazar
s = "verde"
t = "amarillo"

# Reemplazamos el elemento
indice = L.index(s)
L[indice] = t

# Mostramos la lista resultante
print(L)

['rojo', 'amarillo', 'azul']

6. Escribe un programa que defina una tupla con elementos numéricos, reemplace el valor del último por un valor diferente y muestre la tupla por pantalla. Recuerda que las tuplas son inmutables. Tendrás que usar objetos intermedios.

In [179]:
# Tupla original
tupla = (1, 2, 3, 4)

# Convertimos a lista
lista_aux = list(tupla)

# Modificamos el último valor
lista_aux[-1] = 10

# Convertimos de nuevo a tupla
tupla = tuple(lista_aux)

# Mostramos la tupla resultante
print(tupla)

(1, 2, 3, 10)

7. Dada la lista [1,2,3,4,5,6,7,8] escribe un programa que, a partir de esta lista, obtenga la lista [8,6,4,2] y la muestre por pantalla.

In [180]:
# Lista original
lista = [1, 2, 3, 4, 5, 6, 7, 8]

# Obtenemos los números pares y los invertimos
resultado = lista[::-2]

# Mostramos el resultado
print(resultado)

[8, 6, 4, 2]

8. Escribe un programa que, dada una tupla y un índice válido i, elimine el elemento de la tupla que se encuentra en la posición i. Para este ejercicio sólo puedes usar objetos de tipo tupla. No puedes convetir la tupla a una lista, por ejemplo.

In [181]:
# Tupla original
tupla = (10, 20, 30, 40, 50)

# Índice a eliminar
i = 2

# Creamos una nueva tupla sin el elemento en la posición i
nueva_tupla = tupla[:i] + tupla[i + 1:]

# Mostramos la tupla resultante
print(nueva_tupla)

(10, 20, 40, 50)

9. Escribe un programa que obtenga la mediana de una lista de números. Recuerda que la mediana M de una lista de números L es el número que cumple la siguiente propiedad: la mitad de los números de L son superiores a M y la otra mitad son inferiores. Cuando el número de elementos de L es par, se puede considerar que hay dos medianas. No obstante, en este ejercicio consideraremos que únicamente existe una mediana.

In [182]:
# Lista de números
L = [7, 3, 5, 1, 9]

# Ordenamos la lista
L.sort()

# Calculamos la posición central
indice_mediana = len(L) // 2

# Obtenemos la mediana
mediana = L[indice_mediana]

# Mostramos el resultado
print(mediana)

5

https://github.com/MartinRodriguez17/MachineLearning.git